doctype html
mixin useCss(path)
    link(rel='stylesheet/less',href=path)
mixin useJs(path)
    script(type='text/javascript',src=path)
html
    head
        +useCss('./trajectory.less')
    body
        script(src='https://cdnjs.cloudflare.com/ajax/libs/less.js/2.7.1/less.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/svg.js/2.3.6/svg.min.js')
        +useJs('./trajectory.js')

